
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
}

body {
	font-family:'Pacifico', cursive !important;
	font-size: 13pt !important;
	font-weight: 300 !important;
}

.container-fluid {
    padding-right: 0px !important;
    padding-left: 0px !important;
}
#myPageContent, section { 
	height:100% !important; 
	width:100% !important;
}

#home { background-color: #00B274; }
#fullstack-section { background-color: #0096D6; }
#it-support-section { background-color: #D75BA2; }
#data-section { background-color: #E9AC40; }
#other-section { background-color: #E9AC40; }
footer { 
	background-color: #31353A;
	color: #FFF;
	text-align: right;
	font-size: 10pt !important;
	padding: 30px;
}



.myLogo { 
	max-height: 20px;
	height: 100%;
	width: 151px;
	font-family: 'Pacifico', cursive;
	color: #FFF;
}
.myLogo span { color: #F05557; font-weight:normal; }

.navbar {
	opacity: 0.9;
	filter: Alpha(opacity=90); /* IE8 and earlier */
}
.navbar ul li { 
	color: #FFF !important;
	font-size: 13pt !important;
}
.navbar .active a, .nav a:focus {
	color:#F05557 !important;
	background-color: transparent !important;
}

/* Menu - Animação */
.navbar-nav a::before, .navbar-nav a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}
.navbar-nav a::before {
	margin-right: 10px;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}
.navbar-nav a::after {
	margin-left: 10px;
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}
.navbar-nav a:hover, .navbar-nav a:hover::before, .navbar-nav a:hover::after, .navbar-nav a:focus::before, .navbar-nav a:focus::after {
	color:#F05557 !important;
	background-color: transparent !important;	
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}
